body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:orchid;
}
a {
  color:black;
}
hr{
  color:black;
}
.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  background-color: purple;
}
p{
color:rgb(78, 78, 78)
}
h1{color: darkslategrey}
li{
color:rgb(78, 78, 78)
}